services:
  app:
    build: .
    ports:
      - 8080:8080
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/student
      - SPRING_DATASOURCE_USERNAME=pg-user
      - SPRING_DATASOURCE_PASSWORD=pg-pwd
    networks:
      - spring-postgres
  db:
    image: postgres
    restart: always
    volumes:
      - db-data:/var/lib/postgresql
    networks:
      - spring-postgres
    environment:
      - POSTGRES_DB=student
      - POSTGRES_USER=pg-user
      - POSTGRES_PASSWORD=pg-pwd
    expose:
      - 5432
    ports:
      - 5432:5432
volumes:
  db-data:
networks:
  spring-postgres:
